<?xml version="1.0" encoding="UTF-8" ?>
 <!-- 마이바티스 사용하겠다. -->
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <!-- dao interface 파일 위치 -->
<mapper namespace="com.java.dao.MemberDao">
  <select id="selectLogin" resultType="com.java.dto.MemberDto">
      select * from member where id=#{id} and pw=#{pw}
  </select>
</mapper>