<?xml version="1.0" encoding="UTF-8"?>
 <!-- 마이바티스 사용하겠다. -->
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <!-- dao interface 파일 위치 -->
<mapper namespace="com.java.dao.MemberDao">
<!-- 게시글 전체 가져오기 -->
  <select id="selectAll" resultType="com.java.dto.MemberDto">
      select * from member 
  </select>
  
<!-- 게시글 하나 가져오기 -->
  <select id="selectOne" resultType="com.java.dto.MemberDto">
      select * from member where id=#{id}
  </select>
</mapper>